.follow-btn {
    min-height: 44px;
    min-width: 270px;
    border-radius: 5px;
    background: #31AE54;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 0 10px;
    &:hover {
        background: #9E9E9E;
    }
    &.disable {
        background: #9E9E9E;
    }
    &.auth {
        min-width: 250px;
    }
}

.btn-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
}