.close-btn {
    height: 23px;
    width: 23px;
    color: white;
}

.logo {
    width: 174px;
    color: white;
}

.topline-container {
    padding: 0 121px;
}

.wrapper {
    background: black;
    height: 100vh;
}