.star__img {
    height: 18px;
    width: 16px;
    color: gray;
    margin-right: 4px;
}

.fork__img {
    height: 18px;
    width: 16px;
    color: gray;
    margin-right: 4px;
}

.actions-wrapper {
    display: flex;
    font-size: 12px;
    width: fit-content;
}

.actions__item {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.star {
    border-radius: 6px 0 0 6px;
}

.fork {
    border-radius: 0 6px 6px 0;
}

.item__btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 28px;
    padding: 0 13px;

    border: none;
    background-color: #FAFBFC;
}

.item__info-wrapper {
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.item__info {
    padding: 0 12px;
}