.story-item-wrapper {
    width: 375px;
    height: 660px;
    border-radius: 8px;
    background-color: white;
    transform: scale(.8);
    transition: all .4s;
    pointer-events: none;
    user-select: none;
    position: relative;
    &.active {
        transform: scale(1);
        z-index: 10;
        pointer-events: initial;
        user-select: initial;
    }
}

.story-item__top-container {
    height: 67px;
    padding: 8px;
}

.story-item__user-wrapper {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.story-item__avatar-wrapper {
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.story-item__username {
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
}

.content-wrapper {
    height: 500px;
    padding: 22px 22px;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.051) 100%);
}

.story-item__bottom-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}


.arrow {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: grey;
    border: 2px solid #000;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.btn {
    &-prev {
      left: -58px;
      & .icon {
          transform: rotate(.5turn);
      }
    }
    
    &-next {
      right: -58px;
    }
}

.icon {
    height: 17px;
    width: 18px;
}